---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://workytical.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/workytical.com","sender_reminder":"This
        is why we are sending you this","cdate":"2021-03-30T14:56:37-05:00","udate":"2021-03-30T14:56:37-05:00","links":{"contactGoalLists":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/16\/contactGoalLists","user":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/16\/user","addressLists":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/16\/addressLists"},"id":"16"}}'
  recorded_at: Tue, 30 Mar 2021 19:56:37 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/groups"
    body:
      encoding: UTF-8
      string: '{"group":{"title":"Awesome","descript":"My really awesome group"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group":{"title":"Awesome","descript":"My really awesome group","p_admin":1,"links":{"userGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/29\/userGroups","groupLimit":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/29\/groupLimit","dealGroupGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/29\/dealGroupGroups","listGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/29\/listGroups","addressGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/29\/addressGroups","automationGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/29\/automationGroups"},"id":"29"}}'
  recorded_at: Tue, 30 Mar 2021 19:56:38 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/listGroups"
    body:
      encoding: UTF-8
      string: '{"listGroup":{"listid":"16","groupid":"29"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"listGroup":{"list":"16","group":"29","links":{"list":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/18\/list","group":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/18\/group"},"id":"18"}}'
  recorded_at: Tue, 30 Mar 2021 19:56:39 GMT
- request:
    method: get
    uri: "<API_ENDPOINT>/api/3/listGroups"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"listGroups":[{"list":"16","group":"29","p_list_add":"0","p_list_edit":"0","p_list_delete":"0","p_list_sync":"0","p_list_filter":"0","p_message_add":"0","p_message_edit":"0","p_message_delete":"0","p_message_send":"0","p_subscriber_add":"0","p_subscriber_edit":"0","p_subscriber_delete":"0","p_subscriber_import":"0","p_subscriber_approve":"0","links":{"list":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/18\/list","group":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/18\/group"},"id":"18"}],"meta":{"total":"1"}}'
  recorded_at: Tue, 30 Mar 2021 19:56:44 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/listGroups/18"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:56:49 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/groups/29"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:56:50 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/lists/16"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:56:50 GMT
recorded_with: VCR 6.0.0
