---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://workytical.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/workytical.com","sender_reminder":"This
        is why we are sending you this","cdate":"2021-05-25T04:02:56-05:00","udate":"2021-05-25T04:02:56-05:00","links":{"contactGoalLists":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/13\/contactGoalLists","user":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/13\/user","addressLists":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/13\/addressLists"},"id":"13"}}'
  recorded_at: Tue, 25 May 2021 09:02:56 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/fields"
    body:
      encoding: UTF-8
      string: '{"field":{"title":"Custom text","type":"text","descript":"A custom
        text field","isrequired":"0","perstag":"PERSTAG","defval":"Default value","visible":"1"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"field":{"title":"Custom text","type":"text","descript":"A custom
        text field","isrequired":"0","perstag":"PERSTAG","defval":"Default value","visible":"1","created_by":"1","updated_by":"1","cdate":"2021-05-25T04:02:56-05:00","udate":"2021-05-25T04:02:56-05:00","ordernum":6,"links":{"options":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/fields\/19\/options","relations":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/fields\/19\/relations"},"id":"19"}}'
  recorded_at: Tue, 25 May 2021 09:02:57 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/fieldRels"
    body:
      encoding: UTF-8
      string: '{"fieldRel":{"field":"19","relid":"13"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"fieldRel":{"relid":"13","field":"19","cdate":"2021-05-25T04:02:58-05:00","links":[],"id":"15"}}'
  recorded_at: Tue, 25 May 2021 09:02:58 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/lists/13"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 25 May 2021 09:03:00 GMT
recorded_with: VCR 6.0.0
