/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
coverage/*
*~
.rvmrc
log/*
measurement/*
.DS_Store
.env
*.gem
spec/dummy/tmp/*
spec/dummy/log/*.log
.rspec_status
Gemfile.lock
