---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://workytical.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/workytical.com","sender_reminder":"This
        is why we are sending you this","cdate":"2021-03-23T06:04:31-05:00","udate":"2021-03-23T06:04:31-05:00","links":{"contactGoalLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/69\/contactGoalLists","user":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/69\/user","addressLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/69\/addressLists"},"id":"69"}}'
  recorded_at: Tue, 23 Mar 2021 11:04:31 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/contacts"
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"anmolyousaf94@gmail.com","firstName":"Anmol","lastName":"Yousaf","phone":"+491735728523"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"anmolyousaf94@gmail.com","phone":"+491735728523","firstName":"Anmol","lastName":"Yousaf","email_empty":false,"cdate":"2021-03-23T06:04:34-05:00","udate":"2021-03-23T06:04:34-05:00","orgid":"","orgname":"","links":{"bounceLogs":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/bounceLogs","contactAutomations":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC","contactData":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/contactData","contactGoals":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/contactGoals","contactLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/contactLists","contactLogs":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/contactLogs","contactTags":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/contactTags","contactDeals":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/contactDeals","deals":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/deals","fieldValues":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/fieldValues","geoIps":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/geoIps","notes":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/notes","organization":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/organization","plusAppend":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/plusAppend","trackingLogs":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/trackingLogs","scoreValues":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/scoreValues","accountContacts":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/accountContacts","automationEntryCounts":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/automationEntryCounts"},"hash":"390f4288f72870a32e10b34f388071fa","id":"106","organization":""}}'
  recorded_at: Tue, 23 Mar 2021 11:04:34 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/contactLists"
    body:
      encoding: UTF-8
      string: '{"contactList":{"list":"69","contact":"106","status":1}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contacts":[{"cdate":"2021-03-23T06:04:34-05:00","email":"anmolyousaf94@gmail.com","phone":"+491735728523","firstName":"Anmol","lastName":"Yousaf","orgid":"0","orgname":"","segmentio_id":"","bounced_hard":"0","bounced_soft":"0","bounced_date":null,"ip":"0","ua":null,"hash":"390f4288f72870a32e10b34f388071fa","socialdata_lastcheck":null,"email_local":"","email_domain":"","sentcnt":"0","rating_tstamp":null,"gravatar":"0","deleted":"0","anonymized":"0","adate":null,"udate":"2021-03-23T06:04:34-05:00","edate":null,"deleted_at":null,"created_utc_timestamp":"2021-03-23
        06:04:34","updated_utc_timestamp":"2021-03-23 06:04:34","created_timestamp":"2021-03-23
        06:04:34","updated_timestamp":"2021-03-23 06:04:34","created_by":null,"updated_by":null,"email_empty":false,"links":{"bounceLogs":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/bounceLogs","contactAutomations":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC","contactData":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/contactData","contactGoals":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/contactGoals","contactLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/contacts\/106\/co[...]
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/contacts/106"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 23 Mar 2021 11:04:37 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/lists/69"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 23 Mar 2021 11:04:39 GMT
recorded_with: VCR 6.0.0
