---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://mhenrixon.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/mhenrixon.com","sender_reminder":"This
        is why we are sending you this","cdate":"2021-03-19T06:34:13-05:00","udate":"2021-03-19T06:34:13-05:00","links":{"contactGoalLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/19\/contactGoalLists","user":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/19\/user","addressLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/19\/addressLists"},"id":"19"}}'
  recorded_at: Fri, 19 Mar 2021 11:34:14 GMT
- request:
    method: get
    uri: "<API_ENDPOINT>/api/3/lists"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"lists":[{"stringid":"awesome-list","userid":"0","name":"Awesome List","cdate":"2021-03-19T06:28:17-05:00","p_use_tracking":"1","p_use_analytics_read":"0","p_use_analytics_link":"0","p_use_twitter":"0","p_use_facebook":"0","p_embed_image":"1","p_use_captcha":"1","send_last_broadcast":"0","private":"0","analytics_domains":null,"analytics_source":"","analytics_ua":"","twitter_token":"","twitter_token_secret":"","facebook_session":null,"carboncopy":null,"subscription_notify":null,"unsubscription_notify":null,"require_name":"0","get_unsubscribe_reason":"0","to_name":"Subscriber","optinoptout":"1","sender_name":"","sender_addr1":"","sender_addr2":"","sender_city":"","sender_state":"","sender_zip":"","sender_country":"","sender_phone":"","sender_url":"https:\/\/mhenrixon.com","sender_reminder":"This
        is why we are sending you this","fulladdress":null,"optinmessageid":"0","optoutconf":"0","deletestamp":null,"udate":"2021-03-19T06:28:17-05:00","created_timestamp":"2021-03-19
        06:28:17","updated_timestamp":"2021-03-19 06:28:17","created_by":null,"updated_by":null,"links":{"contactGoalLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/8\/contactGoalLists","user":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/8\/user","addressLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/8\/addressLists"},"id":"8","user":null},{"stringid":"awesome-list","userid":"0","name":"Awesome
        List","cdate":"2021-03-19T06:28:19-05:00","p_use_tracking":"1","p_use_analytics_read":"0","p_use_analytics_link":"0","p_use_twitter":"0","p_use_facebook":"0","p_[...]
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/lists/19"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 19 Mar 2021 11:34:15 GMT
recorded_with: VCR 6.0.0
