---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://workytical.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/workytical.com","sender_reminder":"This
        is why we are sending you this","cdate":"2021-03-30T14:47:08-05:00","udate":"2021-03-30T14:47:08-05:00","links":{"contactGoalLists":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/10\/contactGoalLists","user":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/10\/user","addressLists":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/10\/addressLists"},"id":"10"}}'
  recorded_at: Tue, 30 Mar 2021 19:47:08 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/groups"
    body:
      encoding: UTF-8
      string: '{"group":{"title":"Awesome","descript":"My really awesome group"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group":{"title":"Awesome","descript":"My really awesome group","p_admin":1,"links":{"userGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/23\/userGroups","groupLimit":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/23\/groupLimit","dealGroupGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/23\/dealGroupGroups","listGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/23\/listGroups","addressGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/23\/addressGroups","automationGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/23\/automationGroups"},"id":"23"}}'
  recorded_at: Tue, 30 Mar 2021 19:47:09 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/listGroups"
    body:
      encoding: UTF-8
      string: '{"listGroup":{"listid":"10","groupid":"23"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"listGroup":{"list":"10","group":"23","links":{"list":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/11\/list","group":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/11\/group"},"id":"11"}}'
  recorded_at: Tue, 30 Mar 2021 19:47:10 GMT
- request:
    method: get
    uri: "<API_ENDPOINT>/api/3/listGroups/11"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"listGroup":{"list":"10","group":"23","p_list_add":"0","p_list_edit":"0","p_list_delete":"0","p_list_sync":"0","p_list_filter":"0","p_message_add":"0","p_message_edit":"0","p_message_delete":"0","p_message_send":"0","p_subscriber_add":"0","p_subscriber_edit":"0","p_subscriber_delete":"0","p_subscriber_import":"0","p_subscriber_approve":"0","links":{"list":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/11\/list","group":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/11\/group"},"id":"11"}}'
  recorded_at: Tue, 30 Mar 2021 19:47:10 GMT
[...]
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/groups/23"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:47:12 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/lists/10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:47:13 GMT
recorded_with: VCR 6.0.0
