---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://workytical.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/workytical.com","sender_reminder":"This
        is why we are sending you this","cdate":"2021-03-23T06:04:04-05:00","udate":"2021-03-23T06:04:04-05:00","links":{"contactGoalLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/64\/contactGoalLists","user":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/64\/user","addressLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/64\/addressLists"},"id":"64"}}'
  recorded_at: Tue, 23 Mar 2021 11:04:05 GMT
- request:
    method: put
    uri: "<API_ENDPOINT>/api/3/lists/64"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"list name - updated"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ac-Error:
      - Code 9001
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 23 Mar 2021 11:04:06 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/lists/64"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 23 Mar 2021 11:04:07 GMT
recorded_with: VCR 6.0.0
