---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://workytical.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/workytical.com","sender_reminder":"This
        is why we are sending you this","cdate":"2021-03-30T14:47:24-05:00","udate":"2021-03-30T14:47:24-05:00","links":{"contactGoalLists":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/13\/contactGoalLists","user":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/13\/user","addressLists":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/13\/addressLists"},"id":"13"}}'
  recorded_at: Tue, 30 Mar 2021 19:47:24 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/groups"
    body:
      encoding: UTF-8
      string: '{"group":{"title":"Awesome","descript":"My really awesome group"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group":{"title":"Awesome","descript":"My really awesome group","p_admin":1,"links":{"userGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/26\/userGroups","groupLimit":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/26\/groupLimit","dealGroupGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/26\/dealGroupGroups","listGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/26\/listGroups","addressGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/26\/addressGroups","automationGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/26\/automationGroups"},"id":"26"}}'
  recorded_at: Tue, 30 Mar 2021 19:47:25 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/listGroups"
    body:
      encoding: UTF-8
      string: '{"listGroup":{"listid":"13","groupid":"26"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"listGroup":{"list":"13","group":"26","links":{"list":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/14\/list","group":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/14\/group"},"id":"14"}}'
  recorded_at: Tue, 30 Mar 2021 19:47:26 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/listGroups/14"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:47:27 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/groups/26"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:47:27 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/lists/13"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:47:29 GMT
recorded_with: VCR 6.0.0
