---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://workytical.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/workytical.com","sender_reminder":"This
        is why we are sending you this","cdate":"2021-03-30T14:47:13-05:00","udate":"2021-03-30T14:47:13-05:00","links":{"contactGoalLists":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/11\/contactGoalLists","user":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/11\/user","addressLists":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/lists\/11\/addressLists"},"id":"11"}}'
  recorded_at: Tue, 30 Mar 2021 19:47:14 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/groups"
    body:
      encoding: UTF-8
      string: '{"group":{"title":"Awesome","descript":"My really awesome group"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group":{"title":"Awesome","descript":"My really awesome group","p_admin":1,"links":{"userGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/24\/userGroups","groupLimit":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/24\/groupLimit","dealGroupGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/24\/dealGroupGroups","listGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/24\/listGroups","addressGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/24\/addressGroups","automationGroups":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/groups\/24\/automationGroups"},"id":"24"}}'
  recorded_at: Tue, 30 Mar 2021 19:47:15 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/listGroups"
    body:
      encoding: UTF-8
      string: '{"listGroup":{"listid":"11","groupid":"24"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"listGroup":{"list":"11","group":"24","links":{"list":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/12\/list","group":"https:\/\/wegohealth1616524231.api-us1.com\/api\/3\/listGroups\/12\/group"},"id":"12"}}'
  recorded_at: Tue, 30 Mar 2021 19:47:15 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/listGroups/12"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:47:16 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/groups/24"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:47:17 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/lists/11"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Mar 2021 19:47:17 GMT
recorded_with: VCR 6.0.0
