---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/api/3/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://mhenrixon.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/mhenrixon.com","sender_reminder":"This
        is why we are sending you this","cdate":"2021-03-19T06:34:18-05:00","udate":"2021-03-19T06:34:18-05:00","links":{"contactGoalLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/21\/contactGoalLists","user":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/21\/user","addressLists":"https:\/\/wegohealth.api-us1.com\/api\/3\/lists\/21\/addressLists"},"id":"21"}}'
  recorded_at: Fri, 19 Mar 2021 11:34:18 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/api/3/lists/21"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 19 Mar 2021 11:34:19 GMT
recorded_with: VCR 6.0.0
